.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.spinner svg {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
